<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>src.HomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>src.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>src.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>src.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>src.ForgotPasswordServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>src.AddToCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewShoppingCartServlet</servlet-name>
        <servlet-class>src.ViewShoppingCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateShoppingCartServlet</servlet-name>
        <servlet-class>src.UpdateShoppingCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>src.CheckoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ToggleGameVisibilityServlet</servlet-name>
        <servlet-class>src.ToggleGameVisibilityServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ModifyGameServlet</servlet-name>
        <servlet-class>src.ModifyGameServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccountInfoServlet</servlet-name>
        <servlet-class>src.AccountInfoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FavoritesServlet</servlet-name>
        <servlet-class>src.FavoritesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>src.BlockUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmptyCartServlet</servlet-name>
        <servlet-class>src.EmptyCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateAccountInfoServlet</servlet-name>
        <servlet-class>src.UpdateAccountInfoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>src.DetailsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CommentsServlet</servlet-name>
        <servlet-class>src.CommentsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ControlPanelServlet</servlet-name>
        <servlet-class>src.ControlPanelServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SpecialsServlet</servlet-name>
        <servlet-class>src.SpecialsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FavoritesServlet</servlet-name>
        <url-pattern>/favorites</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModifyGameServlet</servlet-name>
        <url-pattern>/modify_game</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmptyCartServlet</servlet-name>
        <url-pattern>/empty_cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add_to_cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewShoppingCartServlet</servlet-name>
        <url-pattern>/view_shopping_cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateShoppingCartServlet</servlet-name>
        <url-pattern>/update_shopping_cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/block_user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControlPanelServlet</servlet-name>
        <url-pattern>/control_panel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ToggleGameVisibilityServlet</servlet-name>
        <url-pattern>/toggle_game_visibility</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountInfoServlet</servlet-name>
        <url-pattern>/account_info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateAccountInfoServlet</servlet-name>
        <url-pattern>/update_account_info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SpecialsServlet</servlet-name>
        <url-pattern>/specials</url-pattern>
    </servlet-mapping>
</web-app>